.asideNavLinks{
    font-weight: normal;
    transform: scale(1);
    transition: all 300ms ease-in-out;
    i{
        transform: rotate(0deg);
        transition: all 300ms ease-in-out;
    }
    &:hover{
        background-color: $success;
        font-weight: bold;
        transform: scale(1.03);
        a{
            color: white;   
            
        }
        i{
            transform: rotate(360deg);
        }
    }
}