.user{
    &__icon{
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
}
.asideNavbar{
    min-height: 90vh;
}
#userCollapse{
    position: absolute;
    top: 80%;
    right: 1%;
}